In [207]:
import pandas as pd
import numpy as np
import os
os.environ["GOOGLE_API_KEY"] = "AIzaSyBkBpLzzZrOrAvacjMyydfymXa5tRTOgc4"
import geocoder

In [208]:
bag_df = pd.read_csv("BAG_CLEANED.csv", sep=';')
brk_df = pd.read_csv("BRK_OBJECTEN_CLEANED.csv", sep=';')

In [209]:
bag_brk_df = pd.merge(bag_df, brk_df, on='brk_kot_id')
bag_brk_df['kot_koopsom'].replace('', np.nan, inplace=True)
null_df = bag_brk_df.kot_koopsom.notnull()
bag_brk_df = bag_brk_df[null_df]
bag_df = None
brk_df = None
#bag_brk_df.to_csv("combined_bag_brk.csv", sep=",",  index=False, encoding='utf-8')

In [210]:
bag_brk_df.rename(index=str, 
                  columns={"aot_openbareruimtenaam": "street_name",
                              "aot_huisnummer": "house_no",
                              "aot_huisletter": "house_letter",
                              "aot_huisnummertoevoeging": "house_no_addition",
                              "aot_postcode": "postcode",
                              "oov_buurtnaam_os_2015": "neighbourhood_name",
                              "oov_buurtcombinatiecode_os_2015": "district_code",
                              "oov_buurtcombinatienaam_os_2015": "district_name",
                              "oov_stadsdeelcode_os_2015": "city_district_code",
                              "oov_lat": "lat", "oov_lon": "lon",
                              "oov_stadsdeelnaam_os_2015": "city_district_name",
                              "oov_alternatieve_buurtennaam_os_2015": "alternative_neighbourhood",
                              "brk_kot_id": "object_id",
                              "kot_soortgrootte_code": "size_type",
                              "kot_kadgrootte": "size",
                              "kot_koopsom": "purchase_price",
                              "kot_koopjaar": "purchase_year",
                              "kot_indicatie_meer_objecten": "mutiple_objects"
                             },
                    inplace=True)

bag_brk_df.columns

Index(['object_id', 'street_name', 'house_no', 'house_letter',
       'house_no_addition', 'postcode', 'neighbourhood_name', 'district_code',
       'district_name', 'city_district_code', 'city_district_name',
       'alternative_neighbourhood', 'oov_22gebiedencode_2015',
       'oov_22gebiedennaam_2015', 'lat', 'lon', 'kot_index_letter',
       'kot_index_nummer', 'size_type', 'size', 'purchase_price',
       'purchase_year', 'mutiple_objects'],
      dtype='object')

In [211]:
f1 =  (lambda x: str(x).replace(" ", ""))
f2 = (lambda x: x[0:4] + ' ' + x[4:] + " Netherlands")
bag_brk_df['postcode'] = bag_brk_df['postcode'].apply(f1)
bag_brk_df['postcode'] = bag_brk_df['postcode'].apply(f2)

In [212]:
print(len(np.unique(bag_brk_df['postcode'])))

13497

In [213]:
funda_arr = os.listdir("funda_data")
funda_df = pd.DataFrame(columns=["Unnamed: 0","area","house_price","rooms","street_name","zipcode"])
for i in funda_arr:
    tmp_df = pd.read_csv("funda_data/"+i,sep=';')
    tmp_df["zipcode"] = tmp_df["zipcode"] + " Netherlands"
    funda_df = funda_df.append(tmp_df, ignore_index=True)
funda_df.drop(['Unnamed: 0'], axis=1, inplace = True)
funda_df.rename(index=str, 
                columns={"zipcode": "postcode"},
                inplace=True)

In [214]:
###No need to this one!
funda_df = funda_df[funda_df["house_price"] != "Prijs op aanvraag"]
f1 = (lambda x: (str(x).replace('von','').replace(" ", "")))
funda_df["house_price"] = funda_df["house_price"].apply(f1)
#print(funda_df[funda_df["house_price"] == "758289 von"])
#funda_df["house_price"][funda_df["house_price"] == "758289 von"] = 758289
#funda_df["house_price"][funda_df["house_price"] == "65000 von"] = 65000
#print(np.unique(funda_df["rooms"].astype(str)))
#print(funda_df[funda_df["rooms"] == " "])
#funda_df[funda_df["rooms"] == " "] #rooms column needs cleaning 
#print(np.unique(funda_df["area"].astype(str)))
#print(np.unique(funda_df["house_price"].astype(str)))
funda_df["house_price"] = funda_df["house_price"].astype(float)
#funda_df["rooms"].astype(float)
funda_df["area"] = funda_df["area"].astype(float)
funda_group_by = funda_df.groupby(['postcode'], as_index=False)["house_price", "area"].mean()

In [215]:
print(len(np.unique(funda_df["postcode"])))
print(len(funda_group_by["postcode"]))

1517
1517

In [224]:
print(bag_brk_df.columns)
bag_brk_group_by = bag_brk_df.groupby(['postcode'], as_index=False)["size", "purchase_price"].mean()
#bag_brk_group_by_coord = bag_brk_df.groupby(['postcode'], as_index=False)["lon", "lat"].mean()
print(len(np.unique(bag_brk_df['postcode'])))
print(len(bag_brk_group_by))
#bag_brk_group_by

Index(['object_id', 'street_name', 'house_no', 'house_letter',
       'house_no_addition', 'postcode', 'neighbourhood_name', 'district_code',
       'district_name', 'city_district_code', 'city_district_name',
       'alternative_neighbourhood', 'oov_22gebiedencode_2015',
       'oov_22gebiedennaam_2015', 'lat', 'lon', 'kot_index_letter',
       'kot_index_nummer', 'size_type', 'size', 'purchase_price',
       'purchase_year', 'mutiple_objects'],
      dtype='object')
13497
13497

In [225]:
##Gets geo location if needed
"""geo = geocoder.google("1064 DE Netherlands")
geo.latlng"""
###Join Funda and Brk
complete_df = pd.merge(funda_group_by, bag_brk_group_by, on='postcode')
print(len(np.unique(complete_df['postcode'])))
print(len((complete_df['postcode'])))

1486
1486

In [236]:
complete_df['lat'] = None
complete_df['lon'] = None
print("columns ", complete_df.columns)
geo = geocoder.google(complete_df['postcode'][0])
print(geo.latlng)
print(complete_df['postcode'][0])
for index, row in complete_df.iterrows():
    geo = geocoder.google(row['postcode']).latlng
    complete_df['lat'][index] = geo[0]
    complete_df['lon'][index] = geo[1]
    break;
print(complete_df.head)

columns  Index(['postcode', 'house_price', 'area', 'size', 'purchase_price', 'lat',
       'lon'],
      dtype='object')
[52.3745416, 4.9045706]
1011 AJ Netherlands
<bound method NDFrame.head of                  postcode  house_price   area         size  purchase_price  \
0     1011 AJ Netherlands     807000.0  130.0   115.000000    4.904807e+05
1     1011 AN Netherlands     900000.0  155.0   170.000000    3.902006e+05
2     1011 AV Netherlands     695000.0  155.0          NaN    7.500455e+05
3     1011 BG Netherlands    1425000.0  267.0   109.000000    6.557896e+05
4     1011 BH Netherlands     419000.0   75.0   223.333333    9.498992e+05
5     1011 BS Netherlands     899000.0  123.0    91.750000    7.648100e+05
6     1011 BZ Netherlands     325000.0   44.0    57.333333    1.881513e+05
7     1011 CL Netherlands     550000.0   80.0    19.750000    3.160502e+05
8     1011 CV Netherlands    1185000.0  213.0    63.304348    4.736794e+05
9     1011 DG Netherlands     435000.0   83.0          NaN    4.655434e+05
10    1011 EJ Netherlands     595000.0   96.0    23.000000    3.777954e+06
11    1011 GZ Netherlands     385000.0   50.0          NaN    3.023087e+05
12    1011 HL Netherlands     445000.0   68.0          NaN    2.214232e+05
13    1011 HV Netherlands    1000000.0  141.0   176.909091    1.163137e+06
14    1011 HZ Netherlands     612500.0   98.0    40.000000    5.539767e+05
15    1011 JH Netherlands     950000.0  122.0    75.600000    3.471873e+05
16    1011 JP Netherlands     800000.0  113.0   116.333333    3.564635e+05
17    1011 KA Netherlands     935000.0  117.0   706.000000    5.426721e+06
18    1011 KD Netherlands     895000.0  144.0    85.000000    1.598000e+06
19    1011 KH Netherlands    3250000.0  293.0    70.153846    3.338319e+05
20    1011 KW Netherlands     750000.0  110.0   137.000000    3.253314e+05
21    1011 LM Netherlands     325000.0   50.0   703.000000    1.012506e+06
22    1011 MH Netherlands     499000.0   95.0          NaN    3.668846e+05
23    1011 MK Netherlands     440000.0   77.0          NaN    2.560020e+05
24    1011 NA Netherlands     275000.0   49.0          NaN    7.241646e+06
25    1011 NS Netherlands     750000.0  126.0          NaN    4.677379e+05
26    1011 PG Netherlands     325000.0   68.0    83.055556    3.650512e+05
27    1011 RL Netherlands     750000.0   91.5          NaN    3.833168e+05
28    1011 SC Netherlands     350000.0   53.0          NaN    2.701560e+05
29    1011 TB Netherlands     885000.0  160.0          NaN    4.972804e+05
...                   ...          ...    ...          ...             ...
1456  1107 KG Netherlands     210000.0   87.0          NaN    6.455425e+07
1457  1107 KJ Netherlands     195000.0   68.0          NaN    1.588686e+08
1458  1107 LM Netherlands     182000.0   75.5          NaN    1.399308e+05
1459  1107 PC Netherlands     229500.0   84.0   117.250000    1.698750e+05
1460  1107 PS Netherlands     255000.0   84.0   116.000000    1.971500e+05
1461  1107 PX Netherlands     175000.0   70.0          NaN    1.313289e+05
1462  1107 TG Netherlands     248000.0   89.0   130.000000    1.546667e+05
1463  1107 XA Netherlands     175000.0   57.0          NaN    1.220000e+05
1464  1107 XD Netherlands     209000.0   65.0          NaN    1.703750e+05
1465  1107 XE Netherlands     185000.0   77.0          NaN    1.372500e+05
1466  1108 AA Netherlands     950000.0  229.0   813.000000    2.265940e+05
1467  1108 BC Netherlands     155000.0   71.0          NaN    1.854314e+07
1468  1108 BK Netherlands     195000.0   70.0          NaN    7.047966e+06
1469  1108 CW Netherlands     215000.0   88.0  1725.000000    1.706873e+07
1470  1108 CZ Netherlands     235000.0   88.0          NaN    5.720339e+06
1471  1108 DJ Netherlands     195000.0   70.0          NaN    1.319692e+07
1472  1108 EN Netherlands     180000.0   71.0          NaN    8.274504e+06
1473  1108 HC Netherlands     175000.0   72.0          NaN    1.573429e+05
1474  1108 HG Netherlands     249000.0   87.0          NaN    1.769429e+05
1475  1108 HL Netherlands     265000.0  105.0          NaN    1.786154e+05
1476  1108 HN Netherlands     265000.0   92.0          NaN    1.623458e+05
1477  1109 AG Netherlands     200000.0   63.0   138.730769    2.047606e+05
1478  1109 AH Netherlands     325000.0   91.0   149.966667    2.348482e+05
1479  1109 AN Netherlands     275000.0   79.0   180.000000    1.733160e+05
1480  1109 AR Netherlands     495000.0  108.0   217.000000    4.200000e+05
1481  1109 BG Netherlands     307000.0   97.5   133.076923    1.971231e+05
1482  1109 BK Netherlands     752500.0  165.0   217.677419    2.939035e+05
1483  1109 BN Netherlands     925000.0  283.0  2327.500000    4.230833e+05
1484  1109 BS Netherlands     325000.0  119.0   167.800000    3.076765e+05
1485  1109 BX Netherlands     375000.0  127.0   164.666667    2.924770e+05

       lat   lon
0     None  None
1     None  None
2     None  None
3     None  None
4     None  None
5     None  None
6     None  None
7     None  None
8     None  None
9     None  None
10    None  None
11    None  None
12    None  None
13    None  None
14    None  None
15    None  None
16    None  None
17    None  None
18    None  None
19    None  None
20    None  None
21    None  None
22    None  None
23    None  None
24    None  None
25    None  None
26    None  None
27    None  None
28    None  None
29    None  None
...    ...   ...
1456  None  None
1457  None  None
1458  None  None
1459  None  None
1460  None  None
1461  None  None
1462  None  None
1463  None  None
1464  None  None
1465  None  None
1466  None  None
1467  None  None
1468  None  None
1469  None  None
1470  None  None
1471  None  None
1472  None  None
1473  None  None
1474  None  None
1475  None  None
1476  None  None
1477  None  None
1478  None  None
1479  None  None
1480  None  None
1481  None  None
1482  None  None
1483  None  None
1484  None  None
1485  None  None

[1486 rows x 7 columns]>

In [200]:
complete_df.to_json("funda_data.json", orient='records')

In [201]:
complete_df.to_csv("funda_data.csv", sep=",")

52.3745416